*{
  font-family: 'Source Sans Pro', sans-serif;
  margin:0;
}

html{
  width:100%;
}

h1#kenmar123{
  font-size:45px;
  padding-right:0;
  padding-left:20px;
  padding-top:20px;
  padding-bottom:20px;
}

a#discovery{
  color:#016a3a;
  text-decoration:none;
}

a#discovery:hover{
  color:#555;
}

img#leaf{
  width:150px;
  height:150px;
  padding:10px;
}

img.side-img{
  width:300px;
  height:300px;
}

img.peeps{
  max-width:100%;
  height:auto;
}

img#ispm{
  position:absolute;
  right:30px;
  top:30px;
  padding:15px;
  width:150px;
  height:100px;
}

img#img{
  width:100%;
}

h1.header{
  font-weight:700;
  font-size:27px;
  color:#016a3a;
}

p#lorem{
  font-weight:400;
  font-size:18px;
  margin:auto;
  width:75%;
}

 ul{
   text-align:center;
 }

 div.nav ul li{
   margin-bottom:1%;
   margin-top:1%;
   display:inline-block
 }

 ul li a{
   text-decoration:none;
   padding-right:40px;
   padding-left:40px;
   color:#fff;
   font-size:20px;
   font-weight:600;
 }

 div.nav{
   width:100%;
   background-color:#016a3a;
 }

 div.top-bar{
    background-color:#fff;
    padding: 10px 30px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    width:100%;
  }

  div.tables{
    text-align:center;
  }

  div.spacer#a50px{
    height:50px;
    width:100%;
  }

  div.spacer#a100px {
    height:100px;
    width:100%;
  }

  div.spacer#a150px{
    height:150px;
    width:100%;
  }

  div.spacer#a200px {
    height:200px;
    width:100%;
  }

  div.spacer#a250px{
    height:250px;
    width:100%;
  }

  div.spacer#a300px{
    height:350px;
    width:100%;
  }

  div.spacer#a350px{
    height:350px;
    width:100%;
  }

  div.spacer#a400px{
    height:400px;
    width:100%;
  }

  div.spacer#a450px{
    height:450px;
    width:100%;
  }

  div.spacer#a500px{
    height:500px;
    width:100%;
  }

  div.footer{
    text-align:center;
    width:100%;
    background-color:#016a3a;
    position:relative;
    left:0;
    bottom:0;
  }

  div.footer ul{
    text-align:center;
  }

  div.footer ul li{
    display:inline-block
  }

  div.footer ul li a{
    text-decoration:none;
    padding-right:40px;
    padding-left:40px;
    color:#fff;
    font-size:20px;
    font-weight:600;
  }


   div.footer-bar{
    background-color:#016a3a;
    padding: 10px 30px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
  }

  div.container#img{
    text-align:center;
  }

  div.center{
    text-align:center;
  }

   h1.footer-text{
    color:#fff;
    font-size:22px;
    font-weight:500;
  }

   .fa {
     padding:auto;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: auto;
  }

   .fa:hover {
    opacity: 0.7;
  }

   .fa-facebook {
    color: #fff;
    width:30px;
    height:30px;
    margin:auto;
    padding:auto;
  }

   .fa-twitter {
    color:#fff;
    width:30px;
    height:30px;
    margin:auto;
    padding:auto;
  }

   .fa-google {
    color:#fff;
    width:30px;
    height:30px;
    margin:auto;
    padding:auto;
  }

  #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #00af5e;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

  #myBtn:hover {
  background-color: #555;
}

   table.social-icons tr td{
    padding-right:20px;
    padding-left:20px;
  }

  * {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
html {
    font-family: "Lucida Sans", sans-serif;
}
.header1 {
    background-color: #B2703C;
    color: #ffffff;
    padding: 15px;
    text-align:center;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #B2703C;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}
.aside {
    background-color: #B2703C;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    img#ispm {
      display:none;
    }

    div.footer#footer{
      display:none;
    }
}

@media only screen and (max-width: 391px) {
    h1#kenmar123{
      font-size:27px;
    }
}
